.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Almarai", sans-serif;
  overflow: hidden;
}

.dashboard-navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 50px 0;
  width: 328px;
}

.dashboard-navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.dashboard-navigation--link {
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 50px;
  gap: 20px;
  text-decoration: none;
  color: #275e2c;
  font-weight: 700;
}

.dashboard-navigation--link-active {
  background-color: #45a64e;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #fff;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dashboard-chat-main {
  flex-direction: row;
}

.side-bar {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f0f2f5;
}

.side-bar button {
  border: 0;
  background: none;
  cursor: pointer;
}

.chat-tray {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.chat-tray_actions {
  padding: 50px 30px 0 30px;
  display: flex;
  gap: 20px;
}

.chat-tray_action--filters {
  padding: 7px 14px;
  border: 2px solid #00a884;
  background: transparent;
  border-radius: 5px;
  color: #00a884;
  cursor: pointer;
  font-weight: 700;
}

.chat-tray_search-container {
  padding: 0 30px;
  display: flex;
  gap: 10px;
}

.chat-tray_search {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #f0f2f5;
}

.chat-tray_search::placeholder {
  color: #667781;
}

.chat-tray_chats {
  padding: 15px 50px;
  overflow: auto;
}

.chat-tray_chats::-webkit-scrollbar {
  width: 5px;
}

.chat-tray_chats::-webkit-scrollbar-track {
  background: #f0f2f5;
}

.chat-tray_chats::-webkit-scrollbar-thumb {
  background-color: rgb(92, 136, 97);
  border-radius: 10px;
}

.chat-tray_chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.chat-tray_chat--info {
  display: flex;
  gap: 20px;
}

.chat-tray_chat--info_image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-tray_chat--data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-tray_chat--name {
  font-weight: bold;
}

.chat-tray_chat--message {
  font-size: 13px;
  color: #667781;
}

.chat-tray_chat--date {
  font-size: 12px;
  color: #667781;
}

.chat-wrapper {
  flex: 1;
  background-color: #f1f4f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-wrapper--header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  box-shadow: 4px 4px 54px 0px #0000000d;
}

.chat-wrapper--header--info {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.chat-wrapper--header--actions {
  display: flex;
  gap: 20px;
}

.chat-wrapper--header--actions button {
  width: 40px;
}

.chat-container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
}

.chat-message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 7px 15px 0px #0000000d;
}

.chat-message.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.chat-message.received {
  align-self: flex-start;
  background-color: #fff;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-time {
  align-self: flex-end;
  font-size: 12px;
  color: #667781;
}

.message-status {
  align-self: flex-end;
  font-size: 12px;
}

.message-status.sent::before {
  content: "✓";
}

.message-status.delivered::before {
  content: "✓✓";
}

.message-status.read::before {
  content: "✓✓";
  color: blue;
}

.chat-message-wrapper {
  padding: 20px;
  display: flex;
  gap: 20px;
  background-color: #f0f2f5;
  box-shadow: 0px -1px 10px 0px #0000000d;
}

.chat-message-wrapper input {
  flex: 1;
  width: 100%;
  border-radius: 60px;
  box-shadow: 0px 7px 15px 0px #0000000d;
  border: 0;
  padding: 10px 30px;
  font-size: 16px;
}

.chat-message-wrapper--actions {
  display: flex;
  gap: 20px;
}

.chat-message-wrapper--actions button {
  width: 50px;
}

.voice-note {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #61c554;
  box-shadow: 0px 7px 15px 0px #0000000d;
  border: 0;
  cursor: pointer;
}

/* Common styles for trays */
.side-tray {
  position: absolute;
  top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  left: 0;
  width: 20%;
  height: 100%;
  background: #f0f2f5;
  box-shadow: -4px 0 54px 0px #0000000d;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.side-tray.visible {
  transform: translateX(0);
}

.side-tray--header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #419c4a;
}

.side-tray--header span {
  font-size: 23px;
  color: #ffffff;
  font-weight: 700;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.notes-content,
.add-note-content,
.add-file-content,
.menu-content,
.add-sticker-content {
  padding: 20px;
  background: #f9f9f9;
  height: calc(100% - 80px); /* Adjust according to the header height */
  overflow-y: auto;
}

/* Styles for the "Add Note" tray */
.add-note-content label,
.add-file-content label,
.add-sticker-content label {
  display: block;
  font-size: 16px;
  color: #275e2c;
  font-weight: 700;
  margin-bottom: 10px;
}

.add-note-content textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
}

.add-sticker-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
}

.add-note-content .add-note-button,
.add-file-content .add-file-button,
.add-sticker-content .add-sticker-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: #419c4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.notes-content {
  padding: 20px;
  background: #f9f9f9;
  height: calc(100% - 80px);
  overflow-y: auto;
}

.add-file-content {
  padding: 20px;
  background: #f9f9f9;
  height: calc(100% - 80px);
  overflow-y: auto;
}

.add-file-content label {
  display: block;
  font-size: 16px;
  color: #275e2c;
  font-weight: 700;
  margin-bottom: 10px;
}

/* input[type="file"] { */
.add-file-content div {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.add-file-content div span {
  font-size: 13px;
  color: #c8cfd5;
}

.add-file-content div input {
  display: none;
}

.add-file-content div i {
  font-size: 16px;
  color: #054d46;
}

.add-note-button {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  color: #347d3b;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 4px 4px 54px 0px #0000000d;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: auto;
}

.add-note-button i {
  font-size: 10px;
  background-color: #347d3b;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
}

.notes-summary {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #1e4922;
}

.note {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.note-status-button i {
  margin-left: 5px;
}

.note-time {
  font-size: 12px;
  color: #999;
}

.note-content {
  font-size: 16px;
  color: #275e2c;
  font-weight: 700;
  line-height: 1.5;
}

.note-header {
  margin-bottom: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.note-header--button {
  gap: 10px;
  padding: 10px;
  background: #419c4a;
  color: white;
  border: none;
  margin-right: auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.note-header--user {
  display: flex;
  gap: 10px;
}

.note-header--user_data {
  display: flex;
  flex-direction: column;
}

.note-header--user_name {
  font-size: 19px;
  font-weight: 700;
  color: #275e2c;
}

.note-header--user_role {
  font-size: 16px;
  font-weight: 700;
}

.note-header--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-header--time {
  font-size: 13px;
  font-weight: 700;
  color: #999999;
}

.files-content {
  padding: 20px;
  background: #f9f9f9;
  height: calc(100% - 80px);
  overflow-y: auto;
}

.file-item {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.file-item--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.file-item--uploader {
  font-size: 14px;
  color: #28a745;
  font-weight: 700;
}

.file-item--body {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #f0f2f5;
  border-radius: 5px;
}

.file-item--icon {
  font-size: 24px;
  color: #007bff;
}

.file-item--name {
  font-size: 16px;
  font-weight: 700;
  color: #275e2c;
}

.file-item--info {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #999999;
}

.file-item--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.download-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #bfbfbf;
}

.file-item--date {
  font-size: 14px;
  color: #999999;
}

.file-item--body-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-left: 20px;
}

.sticker-color-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.sticker-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.sticker-color.blue {
  background-color: #007bff;
}

.sticker-color.orange {
  background-color: #ff8800;
}

.sticker-color.yellow {
  background-color: #ffeb3b;
}

.sticker-item {
  padding: 20px 40px;
  background-color: #e26305;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
}

.sticker-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  margin-top: 30px;
  gap: 20px;
}

/* ENTER NUMBER */

.enter_phone_number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.enter_phone_number .enter_phone_number-header {
  font-size: 40px;
  color: #737373;
  line-height: 48px;
  font-weight: 400;
}

.enter_phone_number .enter_phone_number-sub_header {
  font-size: 28px;
  color: #737373;
  line-height: 33.6px;
  font-weight: 400;
}

.enter_phone_number-inputs {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.enter_phone_number-phone {
  font-size: 33px;
  overflow: hidden;
  padding: 20px 30px;
  padding-left: 70px !important;
  border-radius: 50px;
  border: 1px solid #999999;
  height: auto;
}

.iti--allow-dropdown .iti__flag-container {
  right: auto !important;
  left: 10px !important;
}

.enter_phone_number-next-button {
  background-color: #275e2c;
  padding: 15px 63px;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.enter_phone_number-qr-code-button {
  font-weight: 700;
  font-size: 33px;
  line-height: 39.6px;
  color: #347d3b;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

/*  use WP */
.use_wp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.use_wp .use_wp--container {
  display: flex;
  justify-content: space-between;
}

.use_wp .use_wp--container .use_wp--list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.use_wp .use_wp--container .use_wp--list h2 {
  color: #b0b0b0;
  font-weight: 400;
  font-size: 33px;
  line-height: 39.6px;
}

.use_wp .use_wp--container .use_wp--list span {
  color: #737373;
  font-size: 25px;
  gap: 30px;
  font-weight: 700;
}

.use_wp .use_wp--container .use_wp--list span b {
  color: #595959;
}

.use_wp .use_wp--container .use_wp--list span a {
  color: #737373;
  font-size: 23px;
  font-weight: 400;
  text-decoration: none;
}

.use_wp .use_wp--container .use_wp--list ol {
  color: #737373;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 25px;
}

.use_wp .use_wp--container .use_wp--list ol li {
  font-weight: 700;
}

.use_wp .use_wp--container .use_wp--list ol li b {
  color: black;
}

.use_wp .use_wp--container .use_wp--list ol li i {
  font-size: 20px;
  background-color: #f2f2f2;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.use_wp .use_wp--install {
  display: flex;
  padding: 60px;
  width: 100%;
  justify-content: space-between;
  padding: 40px 60px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  margin-top: 20px;
  margin-bottom: 50px;
}

.use_wp .use_wp--install > div {
  display: flex;
  flex-direction: column;
}

.use_wp .use_wp--install > div > h4 {
  font-size: 26px;
  color: #595959;
  line-height: 31.2px;
  font-weight: 700;
}

.use_wp .use_wp--install > div > span {
  color: #b0b0b0;
  font-size: 20px;
  line-height: 30px;
}

.use_wp .use_wp--install > button {
  background-color: #008069;
  color: #fff;
  border-radius: 20px;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  padding: 20px 50px;
  border: 0;
}

.code-boxes {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.code-box {
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 56px;
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  font-weight: 700;
  font-size: 23px;
}

.wp-chat-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  flex-direction: column;
}

.wp-chat-loading h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: #1e4922;
}

.wp-chat-loading span {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.progress-bar {
  width: 60%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  height: 5px;
}

.progress-bar-fill {
  background-color: #347d3b;
  height: 100%;
  width: 0;
  border-radius: 25px;
  animation: loadProgress 3s ease-in-out forwards;
}

@keyframes loadProgress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 6px 6px 54px 0px #0000000d;
  margin: 0 20px;
  padding: 10px 20px;
  height: 80px;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-role {
  font-size: 20px;
  color: #419c4a;
  font-weight: bold;
}

.fa-caret-down {
  font-size: 20px;
  color: #419c4a;
}

.nav-center {
  flex: 1;
  justify-content: center;
  position: relative;
}

.search-input {
  width: 50%;
  padding: 18px 20px;
  padding-right: 60px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 0;
  font-size: 20px;
}

.search-icon {
  position: absolute;
  right: calc(25% + 20px);
  font-size: 20px;
  color: #999999;
}

.notification-icon {
  font-size: 24px;
  color: #419c4a;
  position: relative;
}

.notification-dot {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 7px;
  height: 7px;
  background-color: #3269d3;
  border-radius: 50%;
}

.nav-title {
  font-size: 24px;
  color: #419c4a;
  font-weight: bold;
  margin-right: 20px;
}

.card {
  background-color: #ffffff;
  box-shadow: 4px 4px 54px 0px #0000000d;
  border-radius: 10px;
  padding: 40px;
}

.card > h3 {
  color: #275e2c;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card > span {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #737373;
  display: block;
  margin-bottom: 50px;
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.content {
  margin: 20px;
  padding-right: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  scrollbar-width: thin;
  scrollbar-color: #419c4a #f0f2f5;
}

.content::-webkit-scrollbar {
  width: 5px;
}

.content::-webkit-scrollbar-track {
  background: #f0f2f5;
}

.content::-webkit-scrollbar-thumb {
  background-color: #419c4a;
  border-radius: 10px;
}

.content-empty {
  border-radius: 10px;
  background: #f5f6fa;
  box-shadow: 4px 4px 54px 0px #0000000d;
}

.home-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-boxes--wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.home-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #cccccc;
}

.home-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #cccccc;
}

.home-box--title {
  font-size: 33px;
  font-weight: 700;
  line-height: 39.6px;
  color: #1e4922;
}
.home-box--date {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}

.home-box--date i {
  color: #ccc;
  margin-left: 10px;
}

.home-filter--buttons {
  display: flex;
  gap: 20px;
}

.home-filter--button {
  background-color: #347d3b;
  padding: 15px 80px;
  color: #fff;
  border-radius: 10px;
  min-width: 226px;
  font-size: 23px;
  border: 0;
}

.home-filter--button-sec {
  min-width: 226px;
  background-color: transparent;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 23px;
  color: #347d3b;
  border: 1px solid #347d3b;
}

.home-filter--filter-number {
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
  color: #419c4a;
}

.stats-tickets {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.ticket {
  background-color: #f5f6fa;
  padding: 35px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.ticket i {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  color: #419c4a;
}

.ticket span {
  font-size: 30px;
  color: #275e2c;
}

.stat {
  font-size: 30px;
  color: #1e4922;
  font-weight: bold;
}

.campaign-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f2f5;
  padding: 35px 40px;
  border-radius: 15px;
  margin: 20px;
}

.campaign-search-section {
  display: flex;
  align-items: center;

  gap: 10px;
}

.campaign-filter-button {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 28px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.campaign-search-input,
.campaign-events-input {
  padding: 20px 30px;
  border-radius: 10px;
  opacity: 0px;
  border: 0;
  background: #fff;
  font-size: 25px;
}

.campaign-sorted-by {
  color: #28a745;
  font-size: 23px;
  font-weight: 700;
  margin-left: 20px;
}

.campaign-header-title {
  font-size: 33px;
  font-weight: 700;
  line-height: 39.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.campaign-header-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 27.6px;
  margin-top: 10px;
  color: #999999;
}

.campaign-header-title i {
  font-size: 20px;
  text-align: left;
  color: #275e2c;
}

.table-container {
  margin: 20px;
  border-radius: 10px;
}

.campaign-create-new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  padding: 24px 20px;
  background-color: #fff;
  color: #4a50df;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
}

.campaign-create-new-button--black {
  color: #000;
}

.campaign-create-new-button--red {
  color: #ff5454;
}

.campaign-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.campaign-table th,
.campaign-table td {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.campaign-table th {
  color: #347d3b;
  font-weight: 700;
}

.campaign-table td {
  font-weight: 700;
}

/* Action Dropdown Styles */
.action-dropdown {
  position: relative;
  display: inline-block;
}

.action-button {
  background-color: #000;
  width: 32px;
  height: 32px;
  color: #fff;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.action-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.action-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: #347d3b;
  background-color: #fff;
  border: none;
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.action-menu-item--red {
  color: #ff0000;
}

.action-menu-item i {
  font-size: 16px;
}

.action-menu-item:hover {
  background-color: #f0f0f0;
}

.action-dropdown:hover .action-menu {
  display: block;
}

.status.pending {
  color: #275e2c;
  font-weight: 700;
}

.status.completed {
  color: #28a745;
  font-weight: 700;
}

.status.active {
  color: #ff6347;
  font-weight: 700;
}

.action.stop {
  color: #ff0000;
  font-weight: 700;
  cursor: pointer;
}

.action.retry {
  color: #ff8c00;
  font-weight: 700;
  cursor: pointer;
}

.action.start {
  color: #008000;
  font-weight: 700;
  cursor: pointer;
}

.table-empty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.table-empty span {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.content-empty {
  display: flex;
  align-items: center;
}

.content-empty a,
.content-empty button {
  padding: 10px 60px;
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  background-color: #347d3b;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.content-empty h2 {
  color: #000;
  margin: 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
}
.content-empty p {
  color: #999999;
  font-size: 33px;
  font-weight: 700;
  line-height: 39.6px;
}

.create-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

.create-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  gap: 40px 100px;
}

.create-content > div {
  width: 100%;
}

.create-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-green {
  color: #fff;
  background-color: #347d3b;
  padding: 15px 81px;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  min-width: 400px;
}

.button-secondary-green {
  color: #347d3b;
  background-color: transparent;
  border: 1px solid #347d3b;
  padding: 15px 81px;
  border-radius: 10px;
  font-size: 20px;
  min-width: 400px;
}

.plans-container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.plan-card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.featured-plan {
  background-color: #347d3b;
  color: #fff;
}

.plan-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: right;
}

.plan-features li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-features i {
  color: #419c4a;
}

.featured-plan i {
  color: #fff;
}

.subscribe-button {
  display: inline-block;
  text-decoration: none;
  background-color: #419c4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #347d3b;
}

.payment-method-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px 40px;
  width: 40%;
}

.payment-method {
  background-color: #f9f9f9;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-method img {
  width: 80px;
}

.payment-method input {
  width: 20px;
  height: 20px;
}

.continue-button {
  background-color: #347d3b;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.continue-button:hover {
  background-color: #275e2c;
}

/* CONTACT MESSAGE START */
.chat-message.contact {
  background-color: #f0f2f5;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  display: flex;
  align-items: center;
}

.chat-message.contact .message-content a {
  color: #419c4a;
  text-decoration: underline;
}

.chat-message.contact .contact-image {
  border-radius: 50%;
  margin-right: 10px;
}

.message-content--contact {
  flex-direction: row;
  display: flex;
  background-color: #00000007;
}

/* CONTACT MESSAGE END */

/* VOICE MESSAGE */

.voice-message {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 10px;
  border-radius: 15px;
  width: 350px;
  display: flex;
}

.voice-message .play-button,
.voice-message .pause-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #555;
}

.voice-message .play-button i,
.voice-message .pause-button i {
  font-size: 16px;
}

.voice-message .pause-button {
  display: none;
}

.voice-message .waveform-container {
  flex: 1;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
}

.voice-message .waveform {
  width: 100%;
  height: 50px;
}

.voice-message .waveform .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.voice-message .waveform .dot-indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  background-color: grey;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 999;
  transition: background-color 0.2s;
}

.voice-message .waveform .dot-indicator.playing {
  background-color: #34b7f1;
}

.voice-message .playback-speed {
  display: none;
  cursor: pointer;
  font-size: 14px;
  padding: 7px;
  width: 45px;
  max-width: 45px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  background-color: #424242;
  color: white;
}

.voice-message .sender-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.voice-message .duration,
.voice-message .timestamp {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.voice-message .bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 35px;
  width: 100%;
}

/* VOICE MESSAGE */
